Repository patcg/docs-and-reports, pull requests merged in 2024-04, with the labels that each got.

#26 clarify and expand TEE manufacturer assets
  threat-model/readme.md
Labels: Threat Model Document, Merge Pending

#30 Remove "draft" status from Threat Model
  threat-model/readme.md
Labels: needs-work, Threat Model Document, Merge Pending

#33 adding TEE to threat model
  threat-model/readme.md
Labels: Threat Model Document, Merge Pending

#50 Opt-out should be possible and undetectable
  design-dimensions/Dimensions-with-General-Agreement.md
Labels: call-for-consensus, needs-work, agenda+, Design Dimensions Report

#37 Several tentative updates regarding private computation for ML, the usage of aggregator/coordinator terms and minor typos
  threat-model/readme.md
Labels: needs-work, Design Dimensions Report

#52 initial set of principles about measurement
  principles/index.html
Labels: Principles Document, Merge Pending

#57 add third party baseline draft, discussed on 20240227
  third-parties/readme.md
Labels: call-for-consensus
